/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/vendor.zip
/vendor_backup
.idea
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.phpintel/
/nbproject/private/
nbproject/
public/attachment/
public/new/
public/documents/
public/uploads/
error_log
public/error_log
.ftpquota
_gsdata_/
storage/framework/laravel-excel/
public/zif5IDPC

